.sub {
  @include page-body;
  @include heading;
  @include inputs;
  @include image;
  
  ion-select {
    transform: translateY(-3rem);
  }
  
  img[src="null"]::after {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .action {
    z-index: 5;
  }
  
  .artwork {
    text-align: center;
     
     img {
       height: auto;
     }
  }

  .field {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }

  .flyerBox {
    text-align: right;
  }
  
  .rowForm {
    display: flex;
    
    &:nth-child(n) {
      width: 99%;
    }
  }

 .selectErr {
    transform: translateY(-3.5rem);
    margin-bottom: -3.5rem;
  }
 
  .slideForm {
    ion-item {
      width: 99%;
    }
  }
}