<ion-content class="myflys">
  <div *ngIf="none" padding>
    <h2 favorite>Sorry You haven't Added Anything Here</h2>
    <p>Please Submit a New Flyer</p>
  </div>
  <ion-card *ngFor="let f of flyers">
    <ion-card-header>
      <h2 favorite>{{f?.name}}</h2>
    </ion-card-header>
    <ion-card-content>
      <hr>
      <ion-item>
        <button ion-item (click)="goTo(f?.id)">
          <ion-thumbnail item-left>
            <img [src]="f?.pic">
          </ion-thumbnail>
          <p>{{f?.desc}}</p>
          <span item-right primary>View</span>
        </button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
