<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      EBC: Electronic Business Card
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login">
  <ion-card padding>
    <ion-card-header>
      <h2 ion-text color="favorite">Login</h2>
    </ion-card-header>
    <ion-card-content>
      <form [class.myError]="config.is_auth_error" [formGroup]="loginForm" (ngSubmit)="signIn(loginForm)">
        <ion-list no-lines>
          <div class="field">
            <ion-item [class.myError]="!username.valid && username.touched">
              <ion-label stacked for="username">Username</ion-label>
              <ion-input clearInput formControlName="username" id="username" name="username" placeholder="email" type="email"></ion-input>
            </ion-item>
            <div class="passErr">
              <p ion-text color="danger" *ngIf="username.hasError('invalidEmail') && username.touched">Please Provide a Valid Email</p>
            </div>
            <ion-item>
              <ion-label stacked for="password">Password</ion-label>
              <ion-input clearInput formControlName="password" id="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                type="password"></ion-input>
            </ion-item>
            <div class="passErr">
              <p ion-text color="danger" *ngIf="config.is_auth_error">Username or Password is Incorrect</p>
            </div>
          </div>
          <span padding>
            <button ion-button icon-right block [disabled]="!loginForm.valid" type="submit">Sign In
              <ion-icon name="log-in"></ion-icon>
            </button>
          </span>
        </ion-list>
      </form>
      <button ion-button clear block (click)="openPage(signUp)" type="button">or Create an Account</button>
      <ion-note>
        <button ion-button clear color="danger" (click)="resetPass()">
          <ion-icon name="unlock"></ion-icon>
          Reset</button>
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-note ion-text color="mygray" padding>&copy;&thinsp;2016 by EBC: Electronic Business Card</ion-note>
    <ion-buttons end>
      <button ion-button icon-only clear padding (click)="privacy()">
        <ion-icon name="list-box" color="mygray"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
