// http://ionicframework.com/docs/v2/theming/
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
scroll-content {
  overflow-y: auto;
}

ion-title {
  text-align: center;
}

.more {
  padding-right: 1rem;
}

.cancel {
  color: map-get($colors, danger);
}

@import '../pages/login/login.page';
@import '../pages/create/create.page';
@import '../pages/submit/submit.page';
@import '../pages/profile/myperson/myperson.page';
@import '../pages/profile/editperson/editperson.page';
@import '../pages/items/list/base.component';
@import '../pages/items/detail/detail.page';
@import '../pages/shared/myloader/myloader.component';