<ebc-navbar>Sample Flyers</ebc-navbar>

<ion-content class="scards">
  <ion-card *ngFor="let f of flyers" (click)="goTo(f?.id)">
   <button ion-item>
      <ion-card-header>
        <h2 favorite>{{f?.name}}</h2>
      </ion-card-header>
      <ion-card-content>
        <hr>
        <ion-item class="myItem">
          <ion-thumbnail item-left>
            <img [src]="f?.pic">
          </ion-thumbnail>
          <p>{{f?.desc}}</p>
          <span item-right primary>View</span>
        </ion-item>
      </ion-card-content>
    </button>
  </ion-card>
</ion-content>
