<ion-header>
  <ebc-navbar>My Profile</ebc-navbar>
</ion-header>

<ion-content class="person">
  <ion-card>
    <!--<ion-img class="userImg" [src]="services.myUser?.pic"></ion-img>-->
    <div class="userImg"> <img [src]="user.myUser?.pic" /></div>
    <ion-card-content>
      <ion-card-title>
        <h2 favorite>{{user.myUser?.firstName}} {{user.myUser?.lastName}}</h2>
      </ion-card-title>
    </ion-card-content>
    <ion-item>
      <button class="editBtn" clear item-right [navPush]="editPage">
        Edit
        <ion-icon name="build"></ion-icon>
      </button>
    </ion-item>
  </ion-card>
</ion-content>