<ion-header>
  <ebc-navbar>{{item?.name}}</ebc-navbar>
</ion-header>

<ion-content class="detail">
  <ion-card>
    <div *ngIf="!item?.ready" class="notAvail">
      <div class="notReady">
        <h3 ion-text color="light">This {{type}} is not ready for use yet.</h3>
      </div>
      <div [ngSwitch]="item?.pic">
        <img *ngSwitchDefault [src]="item?.pic" [title]="'This '+type+' Being Created'" />
        <div *ngSwitchCase="'' || null" class="broken-img">
          <span>This {{type}} Being Created</span>
        </div>
      </div>
    </div>
    <div *ngIf="item?.ready" #myItem [inlineSVG]="'https://cors-anywhere.herokuapp.com/'+item?.media"></div>
    <ion-card-content>
      <ion-card-title>
        <h2 ion-text color="favorite">{{item?.name}}</h2>
        <p class="desc">{{item?.desc}}</p>
      </ion-card-title>
    </ion-card-content>
    <div>
      <ion-segment [(ngModel)]="message">
        <ion-segment-button value="text">
          <ion-icon name="text"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="contact" (click)="getContact()">
          <ion-icon name="contact"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="mail">
          <ion-icon name="mail"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-card>
  <div padding [ngSwitch]="message" class="messForm" [class.notAvail]="sample">
    <div class="mess" *ngIf="sample" padding>
      <h3 ion-text color="danger">This Feature is not Available for {{itemName}}</h3>
    </div>
    <div *ngSwitchCase="'text'">
      <form [formGroup]="smsForm" (ngSubmit)="sendSms(smsForm)">
        <ion-list no-lines>
          <h3 ion-text color="mygray">Send Text<span *ngIf="hide"> to {{picked?.name.formatted}}</span></h3>
          <div class="field">
            <div radio-group formControlName="phone" [hidden]="!hide">
              <ion-item *ngFor="let number of picked?.phoneNumbers">
                <ion-label>{{number.type}}: {{number.value}}</ion-label>
                <ion-radio [id]="number.id" name="sms" [value]="number.value"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Other Number</ion-label>
                <ion-radio id="manual" name="sms" [value]="field" checked></ion-radio>
              </ion-item>
            </div>
            <ion-item [class.myError]="!phone.valid && phone.touched">
              <ion-label stacked color="danger"><span *ngIf="!phone.valid && phone.touched">Check the Number</span></ion-label>
              <ion-input id="custom" name="custom" type="tel" [(ngModel)]="field" placeholder="Manual Selected Number" [ngModelOptions]="{standalone: true}"
                (input)="customField()" clearInput></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Message</ion-label>
              <ion-input formControlName="smsText" id="text" name="text" type="text" clearInput></ion-input>
            </ion-item>
            <div class="lastFix">&nbsp;</div>
          </div>
          <ion-item>
            <button ion-button block [disabled]="sample || !phone.valid" class="formBtn" type="submit">Send Message</button>
          </ion-item>
        </ion-list>
      </form>
    </div>
    <div *ngSwitchCase="'mail'">
      <form [formGroup]="emailForm" (ngSubmit)="sendEmail(emailForm)">
        <ion-list no-lines>
          <h3 ion-text color="mygray">Send Email<span *ngIf="hide"> to {{picked?.name.formatted}}</span></h3>
          <div class="field">
            <div radio-group formControlName="email" [hidden]="!hide">
              <ion-item *ngFor="let addy of picked?.emails">
                <ion-label>{{addy.type}}: {{addy.value}}</ion-label>
                <ion-radio [id]="email.id" name="email" [value]="addy.value"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Other Email</ion-label>
                <ion-radio id="manual" name="email" [value]="field"></ion-radio>
              </ion-item>
            </div>
            <ion-item [class.myError]="!email.valid && email.touched">
              <ion-label stacked color="danger"><span *ngIf="!email.valid && email.touched">Check Email Address</span></ion-label>
              <ion-input id="custom" name="custom" type="email" [(ngModel)]="field" placeholder="Manual Selected Email" [ngModelOptions]="{standalone: true}"
                (input)="customField()" clearInput></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Subject</ion-label>
              <ion-input formControlName="emailText" id="text" name="text" type="text" clearInput></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Message</ion-label>
              <ion-textarea formControlName="body" id="body" name="text" type="text"></ion-textarea>
            </ion-item>
            <div class="lastFix">&nbsp;</div>
          </div>
          <ion-item>
            <button ion-button block [disabled]="sample || !email.valid" class="formBtn" type="submit">Send Email</button>
          </ion-item>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
