<ion-header>
  <ebc-navbar>{{item?.name}}</ebc-navbar>
</ion-header>

<ion-content class="detail">
  <ion-card>
    <ebc-svg [style]="type" [ebc]="item"></ebc-svg>
    <ion-card-content>
      <ion-card-title>
        <h2 ion-text color="favorite">{{item?.name}}</h2>
        <p class="desc">{{item?.desc}}</p>
      </ion-card-title>
    </ion-card-content>
    <div>
      <ion-segment [(ngModel)]="message">
        <ion-segment-button value="text">
          <ion-icon name="text"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="contact" (click)="getContact()">
          <ion-icon name="contact"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="mail">
          <ion-icon name="mail"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-card>
  <div padding [ngSwitch]="message" class="messForm" [class.notAvail]="item?.disable">
    <div class="mess" *ngIf="item?.disable" padding>
      <h3 ion-text color="danger">This Feature is not Available for {{item.name}}</h3>
    </div>
    <div *ngSwitchCase="'text'">
      <ebc-sms [set]="smsShare" (method)="sentMsg($event)"></ebc-sms>
    </div>
    <div *ngSwitchCase="'mail'">
      <ebc-email [set]="emailShare" (method)="sentMsg($event)"></ebc-email>
    </div>
  </div>
</ion-content>
