<ion-header>
  <ion-navbar primary>
    <ion-title>
      EBC: New User
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="create">
  <ion-card padding>
    <ion-card-header>
      <h2 favorite>Create New Account</h2>
    </ion-card-header>
    <ion-card-content>
      <form [ngFormModel]="createForm" (ngSubmit)="createUser(createForm)">
        <ion-list no-lines class="field" [class.myError]="createError">
          <ion-item [class.myError]="email.errors && email.dirty">
            <ion-label stacked for="username">Username</ion-label>
            <ion-input clearInput ngControl="email" id="username" name="username" placeholder="example@mail.com" type="email"></ion-input>
          </ion-item>
          <div class="passErr">
            <p danger *ngIf="email.errors && email.dirty">Please Provide a Valid Email</p>
          </div>
          <div class="myName">
            <ion-item>
              <ion-label stacked for="firstName">First Name</ion-label>
              <ion-input clearInput ngControl="firstName" id="firstName" name="name" placeholder="John/Jane" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked for="lastName">Last Name</ion-label>
              <ion-input clearInput ngControl="lastName" id="lastName" name="name" placeholder="Doe" type="text"></ion-input>
            </ion-item>
          </div>
          <div ngControlGroup="verify" [class.myError]="verify.errors">
            <ion-item>
              <ion-label stacked for="password">Password</ion-label>
              <ion-input clearInput ngControl="password" id="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked for="confirm">Confirm Password</ion-label>
              <ion-input clearInput ngControl="confirmPassword" id="confirm" name="confirm" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                type="password"></ion-input>
            </ion-item>
            <div class="passErr">
              <p danger *ngIf="verify.errors">Passwords Don't Match</p>
            </div>
            <div class="passErr">
              <p danger *ngIf="createError">User Already Taken Please Try Again</p>
            </div>
          </div>
        </ion-list>
        <div class="createBtn">
          <button block [disabled]="!createForm.valid" type="submit">
            <ion-icon name="create"></ion-icon>
            Create Account</button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar position="bottom">
    <ion-note padding>&copy;&thinsp;2016 by EBC: Electronic Business Card</ion-note>
  </ion-toolbar>
</ion-footer>