.drop {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(12, 12, 12, 0.3);
  z-index: 999;

  progress {
    width: 85%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 0;

    &:-webkit-progress-bar {
      background-color: rgba(153, 153, 153, 0.1);
      border-radius: 1rem;
    }

    &[value] {
      color: #703869;

      &:-webkit-progress-value {
        background-color: #703869;
        border-radius: 1rem;
      }
    }
  }

  circle {
    stroke: #11c1f3;
  }

  .loadBg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    width: 20rem;
    height: 11rem;
    border-radius: .25rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(11, 11, 11, 0.3);
  }
}
