page-person {
  .person {
    @include page-body;
    @include heading;

    h2{
      text-align: center;
    }

    .editBtn {
      width: 8.5rem;
      height: 3rem;
    }

    .userImg {
      width: 100%;
      max-height: 50vh;
      background: rgba(0, 0, 0, 0.6);
      overflow-y: hidden;
    }
  }
}