.detail {
  @include page-body;
  @include heading;
  @include inputs;

  .desc {
    margin-top: 1rem;
  }

  .toolbar-background {
    background: rgba(255, 255, 255, 0);
  }

  .messForm {
    ion-item {
      background: rgba(255, 255, 255, 0);
    }

    .formBtn {
      padding: 2rem;
    }
  }

  .notAvail {
    border: .4rem dashed map-get($colors, danger);

    .mess {
      text-align: center;
    }
  }
}
