<ion-navbar primary *navbar>
  <ion-title>
    {{item?.name}}
  </ion-title>
  <ion-buttons end>
    <button (click)="more.myToggle()" class="more">
      <ion-icon name="md-more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<more-menu></more-menu>

<ion-content class="detail">
  <ion-card>
    <div *ngIf="item?.ready" class="notAvail">
      <div class="notReady">
        <h3 light>This {{type}} is not ready for use yet.</h3>
      </div>
      <img [src]="item?.pic" />
    </div>
    <object *ngIf="!item?.ready" id="myItem" type="image/svg+xml" [attr.data]="item?.media" (load)="clickCheck()"></object>
    <ion-card-content>
      <ion-card-title>
        <h2 favorite>{{item?.name}}</h2>
        <p class="desc">{{item?.desc}}</p>
      </ion-card-title>
    </ion-card-content>
    <ion-toolbar>
      <ion-segment [(ngModel)]="message">
        <ion-segment-button value="text">
          <ion-icon name="text"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="contact" (select)="getContact()">
          <ion-icon name="contact"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="mail">
          <ion-icon name="mail"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-card>
  <div padding [ngSwitch]="message" class="messForm" [class.notAvail]="sample">
    <div class="mess" *ngIf="sample" padding>
      <h3 danger>This Feature is not Available with Samples</h3>
    </div>
    <div *ngSwitchWhen="'text'">
      <form [ngFormModel]="smsForm" (ngSubmit)="sendSms(smsForm)">
        <ion-list no-lines>
          <h3 mygray>Send Text<span *ngIf="hide"> to {{picked?.name.formatted}}</span></h3>
          <div radio-group ngControl="phone">
            <ion-item *ngFor="let number of picked?.phoneNumbers">
              <ion-label [for]="number.id">{{number.type}}: {{number.value}}</ion-label>
              <ion-radio [id]="number.id" name="sms" [value]="number.value"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label for="manual">Other Number</ion-label>
              <ion-radio id="manual" name="sms" [value]="field" checked></ion-radio>
            </ion-item>
          </div>
          <ion-item>
            <ion-input id="custom" name="custom" type="tel" [(ngModel)]="field" placeholder="Manual Selected Number" clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label for="text" stacked>Message</ion-label>
            <ion-input ngControl="text" id="text" name="text" type="text" clearInput></ion-input>
          </ion-item>
          <ion-item>
            <button block [disabled]="sample" class="formBtn" type="submit">Send Message</button>
          </ion-item>
        </ion-list>
      </form>
    </div>

    <div *ngSwitchWhen="'mail'">
      <form [ngFormModel]="emailForm" (ngSubmit)="sendEmail(emailForm)">
        <ion-list no-lines>
          <h3 mygray>Send Email<span *ngIf="hide"> to {{picked?.name.formatted}}</span></h3>
          <div radio-group ngControl="email">
            <ion-item *ngFor="let email of picked?.emails">
              <ion-label for="email.id">{{email.type}}: {{email.value}}</ion-label>
              <ion-radio [id]="email.id" name="email" [value]="email.value"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label for="manual">Other Email</ion-label>
              <ion-radio id="manual" name="email" [value]="field"></ion-radio>
            </ion-item>
          </div>
          <ion-item>
            <ion-input id="custom" name="custom" type="email" [(ngModel)]="field" placeholder="Manual Selected Email" clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label for="text" stacked>Subject</ion-label>
            <ion-input ngControl="text" id="text" name="text" type="text" clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label for="body" stacked>Message</ion-label>
            <ion-textarea ngControl="body" id="body" name="text" type="text"></ion-textarea>
          </ion-item>
          <ion-item>
            <button block [disabled]="sample" class="formBtn" type="submit">Send Email</button>
          </ion-item>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
