<ion-header>
  <ebc-navbar>Edit Profile</ebc-navbar>
</ion-header>
<ion-content class="edit">
  <ion-fab *ngIf="upFile" top left>
    <button ion-fab color="light" (click)="savePic()" class="action">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab top right>
    <button ion-fab color="secondary" (click)="pic.getPics()" class="action">
      <ion-icon name="image"></ion-icon>
    </button>
  </ion-fab>
  <ion-card>
    <div class="userImg">
      <img [src]="userData?.photoUrl" />
    </div>
    <ion-card-content>
      <ion-card-title>
        <h2 ion-text color="favorite">{{userData?.displayName}}</h2>
      </ion-card-title>
    </ion-card-content>
    <div class="editbar">
      <ion-segment [(ngModel)]="section">
        <ion-segment-button value="user">
          Edit Info
        </ion-segment-button>
        <ion-segment-button value="password">
          Change Password
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-card>
  <div [ngSwitch]="section">
    <div *ngSwitchCase="'user'">
      <form [formGroup]="editForm" (ngSubmit)="editInfo(editForm)">
        <ion-list class="editForm" no-lines>
          <div class="field">
            <ion-item>
              <ion-label stacked for="displayName">Full Name</ion-label>
              <ion-input clearInput formControlName="displayName" id="displayName" name="displayName" [placeholder]="userData?.displayName"
                type="text"></ion-input>
            </ion-item>
            <div class="passErr">
              <p ion-text color="danger" *ngIf="editForm.errors">Something is Wrong Please Double Check</p>
            </div>
          </div>
          <ion-item>
            <button block ion-button [disabled]="!editForm.dirty" class="formBtn" type="submit">Confirm Change</button>
          </ion-item>
        </ion-list>
      </form>
    </div>
    <div *ngSwitchCase="'password'">
      <form [formGroup]="passwordForm" (ngSubmit)="editPass(passwordForm)">
        <ion-list no-lines class="editForm">
          <div class="field">
            <div [class.myError]="passwordForm.errors">
              <ion-item>
                <ion-label stacked for="password">Password</ion-label>
                <ion-input clearInput formControlName="password" id="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                  type="password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked for="confirm">Confirm Password</ion-label>
                <ion-input clearInput formControlName="confirm" id="confirm" name="confirm" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                  type="password"></ion-input>
              </ion-item>
              <div class="passErr">
                <p ion-text color="danger" *ngIf="passwordForm.errors">Passwords Don't Match</p>
              </div>
            </div>
          </div>
          <ion-item>
            <button block ion-button [disabled]="!passwordForm.valid" class="formBtn" type="submit">Confirm Change</button>
          </ion-item>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
