page-create {
  
  .create {
    @include page-body;
    @include heading;
    @include inputs;
  
    .myName {
      display: flex;
      flex-direction: row;

      .last {
        @include last;
      }
    }
  
    .createBtn {
      padding-top: 1.5rem;
    }
  
    .passErr {
      margin-left: 1.1em;
      margin-bottom: .2em;
    }
  }
}
