<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      EBC: New User
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="create">
  <ion-card padding>
    <ion-card-header>
      <h2 ion-text color="favorite">Create New Account</h2>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="createForm" (ngSubmit)="createUser(createForm)">
        <ion-list no-lines class="field" [class.myError]="createError">
          <ion-item [class.myError]="email.errors && email.dirty">
            <ion-label stacked>Username</ion-label>
            <ion-input clearInput formControlName="email" id="username" name="username" placeholder="example@mail.com" type="email"></ion-input>
          </ion-item>
          <div class="passErr">
            <p ion-text color="danger" *ngIf="email.hasError('invalidEmail') && email.dirty">Please Provide a Valid Email</p>
            <p ion-text color="danger" *ngIf="createError">User Already Taken Please Try Again</p>
          </div>
          <div class="myName">
            <ion-item>
              <ion-label stacked>First Name</ion-label>
              <ion-input clearInput formControlName="firstName" id="firstName" name="name" placeholder="John/Jane" type="text"></ion-input>
            </ion-item>
            <ion-item class="last">
              <ion-label stacked>Last Name</ion-label>
              <ion-input clearInput formControlName="lastName" id="lastName" name="name" placeholder="Doe" type="text"></ion-input>
            </ion-item>
          </div>
          <div formGroupName="verify" [class.myError]="verify.errors">
            <ion-item>
              <ion-label stacked>Password</ion-label>
              <ion-input clearInput formControlName="password" id="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                type="password"></ion-input>
            </ion-item>
            <div class="passErr">
              <p ion-text color="danger" *ngIf="password.hasError('minlength')">Password must be at least 6 characters</p>
              <p ion-text color="danger" *ngIf="verify.hasError('notEqual')">Passwords Don't Match</p>
            </div>
            <ion-item>
              <ion-label stacked>Confirm Password</ion-label>
              <ion-input clearInput formControlName="confirmPassword" id="confirm" name="confirm" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                type="password"></ion-input>
            </ion-item>
            <div class="lastFix">&nbsp;</div>
          </div>
        </ion-list>
        <div class="createBtn">
          <button ion-button icon-left block [disabled]="!createForm.valid" type="submit">
            <ion-icon name="create"></ion-icon>
            Create Account</button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-note ion-text color="mygray" padding>&copy;&thinsp;2016 by EBC: Electronic Business Card</ion-note>
  </ion-toolbar>
</ion-footer>
