<ion-header>
  <ebc-navbar>{{title}}</ebc-navbar>
</ion-header>

<ion-content class="myitems">
  <div *ngIf="none" padding>
    <h2 ion-text color="favorite">Sorry You haven't Added Anything Here</h2>
    <p>Please Submit a New {{type}}</p>
  </div>
  <ion-card *ngFor="let i of items">
    <ion-list>
      <ion-item-sliding #slideCard>
        <ion-item>
          <ion-card-header>
            <h2 ion-text color="favorite">{{i?.name}}</h2>
          </ion-card-header>
          <ion-card-content>
            <hr>
            <ion-item class="myItem">
              <ion-thumbnail item-left>
                <img [src]="i?.pic" [title]="type+' is Being Created'">
              </ion-thumbnail>
              <p ion-text class="desc">{{i?.desc}}</p>
              <span ion-text item-right color="primary"><ion-icon name="arrow-back"></ion-icon>&thinsp;Swipe&thinsp;<ion-icon *ngIf="delete" name="arrow-forward"></ion-icon></span>
            </ion-item>
          </ion-card-content>
        </ion-item>
        <ion-item-options *ngIf="delete" side="left">
          <button ion-button icon-only color="danger" (click)="slideCard.close(); delAlert(i?.id)">
             <ion-icon name="trash"></ion-icon>
           </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button icon-only color="light" (click)="slideCard.close(); goTo(i)">
            <ion-icon name="eye"></ion-icon>
          </button>
          <button *ngIf="delete" ion-button icon-only color="favorite" (click)="slideCard.close(); share(i)">
            <ion-icon name="share-alt"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>
