page-items {
  .myitems {
    @include page-body;
    @include heading;
    @include image;

    img[src="null"]::after {
      font-size: 1.5rem;
      font-weight: 600;
      height: 6.1rem;
      padding: .5rem;
      white-space: pre-wrap;
    }

    .desc {
      max-height: 4rem;
      white-space: normal;
      overflow: hidden;
    }

    .myItem {
      background-color: rgba(0,0,0,0);
    }
  }
}