<form [formGroup]="socialForm">
  <ion-item>
    <ion-label fb>Facebook</ion-label>
    <ion-toggle [(ngModel)]="fbField" [ngModelOptions]="{standalone: true}" fb></ion-toggle>
  </ion-item>
  <ion-item *ngIf="fbField">
    <ion-label for="fb" stacked>Facebook Username</ion-label>
    <ion-input clearInput id="fb" name="fb" type="text" formControlName="fb"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label instagram>Instagram</ion-label>
    <ion-toggle [(ngModel)]="gram" [ngModelOptions]="{standalone: true}" instagram></ion-toggle>
  </ion-item>
  <ion-item *ngIf="gram">
    <ion-label for="gram" stacked>Instagram Username</ion-label>
    <ion-input clearInput id="gram" name="gram" type="text" formControlName="instagram"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label twitter>Twitter</ion-label>
    <ion-toggle [(ngModel)]="dm" [ngModelOptions]="{standalone: true}" twitter></ion-toggle>
  </ion-item>
  <ion-item *ngIf="dm">
    <ion-label for="dm" stacked>Twitter Username</ion-label>
    <ion-input clearInput id="dm" name="dm" type="text" formControlName="twitter"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label spoti>Spotify</ion-label>
    <ion-toggle [(ngModel)]="spot" [ngModelOptions]="{standalone: true}" spoti></ion-toggle>
  </ion-item>
  <ion-item *ngIf="spot">
    <ion-label for="spotify" stacked>Spotify Username</ion-label>
    <ion-input clearInput id="spotify" name="spotify" type="text" formControlName="spotify"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label sound>SoundCloud</ion-label>
    <ion-toggle [(ngModel)]="sound" [ngModelOptions]="{standalone: true}" sound></ion-toggle>
  </ion-item>
  <ion-item *ngIf="sound">
    <ion-label for="sound" stacked>SoundCloud Username</ion-label>
    <ion-input clearInput id="sound" name="sound" type="text" formControlName="soundCloud"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label linked>LinkedIn</ion-label>
    <ion-toggle [(ngModel)]="linked" [ngModelOptions]="{standalone: true}" linked></ion-toggle>
  </ion-item>
  <ion-item *ngIf="linked">
    <ion-label for="linked" stacked>LinkedIn Username</ion-label>
    <ion-input clearInput id="linked" name="linked" type="text" formControlName="linkedIn"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label secondary>Website</ion-label>
    <ion-toggle [(ngModel)]="url" [ngModelOptions]="{standalone: true}" secondary></ion-toggle>
  </ion-item>
  <ion-item *ngIf="url">
    <ion-label for="web" stacked>Website Address</ion-label>
    <ion-input clearInput id="web" name="web" type="url" formControlName="web"></ion-input>
  </ion-item>
</form>