<ion-navbar primary *navbar>
  <ion-title>
    Login
  </ion-title>
</ion-navbar>

<ion-content class="login">
  <ion-card padding>
    <ion-card-header>
      <h2 favorite>Login</h2>
    </ion-card-header>
    <ion-card-content>
      <form [ngFormModel]="loginForm" (ngSubmit)="signIn(loginForm)">
        <ion-list no-lines>
          <button mygray clear *ngIf="loginForm.find('username').dirty" type="button" class="clearBtn" (click)="services.clearField(username)">
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-item [class.myError]="error">
            <ion-label stacked for="username">Username</ion-label>
            <ion-input ngControl="username" id="username" name="username" placeholder="email" type="email" clear-field></ion-input>
          </ion-item>
          <button mygray clear *ngIf="loginForm.find('password').dirty" type="button" class="clearBtn" (click)="services.clearField(password)">
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-item [class.myError]="error">
            <ion-label stacked for="password">Password</ion-label>
            <ion-input ngControl="password" id="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" type="password"></ion-input>
          </ion-item>
          <ion-col offset-25 class="passErr">
            <p danger *ngIf="backand.is_auth_error">Username or Password is Incorrect</p>
          </ion-col>
          <button block [disabled]="!loginForm.valid" type="submit">Sign In
            <ion-icon name="log-in"></ion-icon>
          </button>
        </ion-list>
      </form>
      <ion-item>
        <button clear block (click)="openPage(signUp)" type="button">or Create an Account</button>
      </ion-item>
      <ion-note *ngIf="reset">
        <button clear danger (click)="resetPass()">
          <ion-icon name="unlock"></ion-icon>
          Reset</button>
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-toolbar position="bottom">
  <ion-note padding>&copy;&thinsp;2016 by EBC: Electronic Business Card</ion-note>
</ion-toolbar>
