<ion-navbar primary *navbar>
  <ion-title>
    Login
  </ion-title>
</ion-navbar>

<ion-content class="login">
  <ion-card padding>
    <ion-card-header>
      <h2 favorite>Login</h2>
    </ion-card-header>
    <ion-card-content>
      <form [ngFormModel]="loginForm" (ngSubmit)="signIn(loginForm)">
        <ion-list no-lines>
          <button mygray clear *ngIf="loginForm.find('username').dirty" type="button" class="clearBtn" (click)="clear('username')">
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-item>
            <ion-label mygray for="username">Username</ion-label>
            <ion-input ngControl="username" id="username" type="text" clear-field></ion-input>
          </ion-item>
          <button mygray clear *ngIf="loginForm.find('password').dirty" type="button" class="clearBtn" (click)="clear('password')">
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-item>
            <ion-label mygray for="username">Password</ion-label>
            <ion-input ngControl="password" id="password" type="password"></ion-input>
          </ion-item>
          <p danger *ngIf="backand.is_auth_error">Something</p>
          <div>
            <button block [disabled]="!loginForm.valid" type="submit">Sign In</button>
          </div>
        </ion-list>
        &nbsp;
        <div>
          <button clear block (click)="openPage(signUp)" type="button">or Create an Account</button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-toolbar position="bottom">
  <ion-title>&copy;2016 by EBC</ion-title>
</ion-toolbar>
