<ion-navbar primary *navbar>
  <ion-title>
    Login
  </ion-title>
</ion-navbar>

<ion-content class="login">
  <ion-card padding>
    <ion-card-header>
      <h2 favorite>Login</h2>
    </ion-card-header>
    <ion-card-content>
      <form [class.myError]="error" [ngFormModel]="loginForm" (ngSubmit)="signIn(loginForm)">
        <ion-list no-lines>
          <div class="field">
            <ion-item [class.myError]="!username.valid && username.touched">
              <ion-label stacked for="username">Username</ion-label>
              <ion-input clearInput ngControl="username" id="username" name="username" placeholder="email" type="email"></ion-input>
            </ion-item>
            <div class="passErr">
              <p danger *ngIf="!username.valid && username.touched">Please Provide a Valid Email</p>
            </div>
            <ion-item>
              <ion-label stacked for="password">Password</ion-label>
              <ion-input clearInput ngControl="password" id="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" type="password"></ion-input>
            </ion-item>
            <div class="passErr">
              <p danger *ngIf="backand.authError">Username or Password is Incorrect</p>
            </div>
          </div>
          <span padding>
            <button block [disabled]="!loginForm.valid" type="submit">Sign In
              <ion-icon name="log-in"></ion-icon>
            </button>
          </span>
        </ion-list>
      </form>
      <button clear block (click)="openPage(signUp)" type="button">or Create an Account</button>
      <ion-note *ngIf="reset">
        <button clear danger (click)="resetPass()">
          <ion-icon name="unlock"></ion-icon>
          Reset</button>
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-toolbar position="bottom">
  <ion-note padding>&copy;&thinsp;2016 by EBC: Electronic Business Card</ion-note>
</ion-toolbar>
