<ion-header>
  <ebc-navbar>Create New Item</ebc-navbar>
</ion-header>

<ion-content class="sub">
  <ion-card>
    <ion-card-header>
      <h2 ion-text color="favorite">Submit Item</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-slides #steps>
        <ion-slide>
          <ion-list no-line radio-group [(ngModel)]="isFlyer">
            <ion-item>
              <h3>What are we creating?</h3>
            </ion-item>
            <ion-item>
              <ion-label>Card</ion-label>
              <ion-radio color="favorite" value="false"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Flyer</ion-label>
              <ion-radio color="favorite" value="true"></ion-radio>
            </ion-item>
            <ion-item>
              <div item-right>
                <button class="next-btn" ion-button clear (click)="nextSlide(false)">Next</button>
              </div>
            </ion-item>
          </ion-list>
        </ion-slide>
        <ion-slide>
          <ion-list no-line radio-group [(ngModel)]="subform">
            <ion-item>
              <h3>Choose which method of submission?</h3>
            </ion-item>
            <ion-item>
              <ion-label>Template Based <span [innerHtml]="isFlyer ? 'Flyer' : 'Card'"></span></ion-label>
              <ion-radio color="favorite" value="temp"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Existing <span [innerHtml]="isFlyer ? 'Flyer' : 'Card'"></span> Design</ion-label>
              <ion-radio color="favorite" value="exist"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>New <span [innerHtml]="isFlyer ? 'Flyer' : 'Card'"></span> Design</ion-label>
              <ion-radio color="favorite" value="new"></ion-radio>
            </ion-item>
            <ion-item>
              <div item-left>
                <button class="next-btn" ion-button clear color="danger" (click)="nextSlide(true)">Back</button>
              </div>
              <div item-right>
                <button class="next-btn" ion-button clear (click)="nextSlide(false)" [disabled]="!loaded">Next</button>
              </div>
            </ion-item>
          </ion-list>
        </ion-slide>
        <ion-slide *ngIf="subform === 'temp'">
          <ebc-select-form [flyer]="isFlyer"></ebc-select-form>
          <ion-item>
            <div item-left>
              <button class="next-btn" ion-button clear color="danger" (click)="nextSlide(true)">Back</button>
            </div>
            <div item-right>
              <button class="next-btn" ion-button clear (click)="nextSlide(false)" [disabled]="invalidForm">Next</button>
            </div>
          </ion-item>
        </ion-slide>
        <ion-slide>
          <ebc-base-form class="slideForm" [flyer]="isFlyer"></ebc-base-form>
          <ion-item>
            <div item-left>
              <button class="next-btn" ion-button clear color="danger" (click)="nextSlide(true)">Back</button>
            </div>
            <div item-right>
              <button class="next-btn" ion-button clear (click)="nextSlide(false)" [disabled]="!base?.itemForm.valid">Next</button>
            </div>
          </ion-item>
        </ion-slide>
        <ion-slide *ngIf="subform === 'temp' || subform === 'new'">
          <ebc-sample-form class="slideForm" [flyer]="isFlyer"></ebc-sample-form>
          <ion-item>
            <div item-left>
              <button class="next-btn" ion-button clear color="danger" (click)="nextSlide(true)">Back</button>
            </div>
            <div item-right>
              <button class="next-btn" ion-button clear (click)="nextSlide(false)" [disabled]="!samples?.detailCheck()">Next</button>
            </div>
          </ion-item>
        </ion-slide>
        <ion-slide>
          <ion-list no-lines>
            <ion-item>
              <h3>Add Extra Information?</h3>
            </ion-item>
            <ion-item>
              <ion-label>Add Social Media/URL</ion-label>
              <ion-checkbox color="favorite" [(ngModel)]="addSocial"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Add Logo/Picture</ion-label>
              <ion-checkbox color="favorite" [(ngModel)]="addPic"></ion-checkbox>
            </ion-item>
            <div padding>
              <button ion-button block [disabled]="addSocial || addPic" (click)="submitItem()">Confirm Information</button>
            </div>
            <ion-item>
              <div item-left>
                <button class="next-btn" ion-button clear color="danger" (click)="nextSlide(true)">Back</button>
              </div>
              <div item-right *ngIf="addSocial || addPic">
                <button class="next-btn" ion-button clear (click)="nextSlide(false)">Next</button>
              </div>
            </ion-item>
          </ion-list>
        </ion-slide>
        <ion-slide *ngIf="addSocial">
          <ebc-social-form></ebc-social-form>
          <div padding *ngIf="!addPic">
            <button ion-button block (click)="submitItem()" [disabled]="!social?.socialAdded()">Confirm Information</button>
          </div>
          <ion-item>
            <div item-left>
              <button class="next-btn" ion-button clear color="danger" (click)="nextSlide(true)">Back</button>
            </div>
            <div item-right *ngIf="addPic">
              <button class="next-btn" ion-button clear (click)="nextSlide(false)" [disabled]="!social?.socialAdded()">Next</button>
            </div>
          </ion-item>
        </ion-slide>
        <ion-slide *ngIf="addPic">
          <ebc-pic-form></ebc-pic-form>
          <div padding>
            <button ion-button block [disabled]="pics?.notAdded" (click)="submitItem()">Confirm Information</button>
          </div>
          <ion-item>
            <div item-left>
              <button class="next-btn" ion-button clear color="danger" (click)="nextSlide(true)">Back</button>
            </div>
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>
