page-submit {
  .sub {
    @include page-body;
    @include heading;
    @include inputs;
    @include broken;

    h3 {
      margin-bottom: 0;
    }
    
    ion-select {
      transform: translateY(-3rem);
    }
    .wrap ion-label {
      white-space: normal;
    }
    .sel {
      padding-bottom: 1rem;
    }
    .action {
      transform: translateY(1.2rem);
      z-index: 5;
    }
    .artwork {
      img {
        height: auto;
        margin: auto;
        width: 100%;
      }
      .broken-img {
        margin: auto;
      }
    }
    .divider {
      border-top: 0;
      margin-bottom: -1rem;
      padding-top: 1rem;
    }
    .field {
      padding-left: 1.1rem;
      padding-right: 1.1rem;
    }
    .flyerBox {
      text-align: right;
    }

    .next-btn {
      font-size: 1.5rem;
      padding: 2rem;
    }

    .right {
      right: .7rem;
    }
    .rowForm {
      display: flex;
      justify-content: space-between;
      .last {
        @include last;
      }
    }
    .selectErr {
      transform: translateY(-3.5rem);
      margin-bottom: -3.5rem;
    }
  }
  .artWarn {
    text-align: center;
  }
}

modal-confirm {
  .confirm {
    @include heading;
    ion-col {
      border-radius: .4rem;
      background-color: map-get($colors, light);
      margin: .4rem;
      padding: .8rem;
      opacity: .7;
    }
    .btns {
      display: flex;
      justify-content: space-between;
      padding-top: 2rem;
    }
    .head {
      margin-bottom: .7rem;
    }
    .flyBox {
      display: flex;
      justify-content: space-between;
    }
    hr {
      border: none;
      width: 100%;
      height: .3rem;
      margin: 1.7rem auto;
      background-color: map-get($colors, secondary);
    }
  }
}
